body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}


img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-footer {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    margin-right: 120px;
}

.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.description-footer {
    display: flex;
    align-items: baseline;
}

ul,
ol {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0%;
}

button {
    cursor: pointer;
}

/* region Header */
.header-page {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-footer {
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    opacity: 0.7;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-icons-social {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.logo-style-hed {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-header-logo {
    padding: 24px 0;
    margin-right: 76px;
}


.logo-style-hed::after {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.nav-item {}

.nav-item-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02cm;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover,
.nav-item-link:focus,
.nav-item-link.current {
    color: #404bbf
}

.nav-item-link.current {
    position: relative;
    color: #404bbf
}

.nav-item-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}


.address-page {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    gap: 40px;
    display: flex;
    align-items: center;
}

.contacts-item-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
    color: #404bbf;
}

.effective {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/jmg11.jpg);
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.tittle {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.possibilities {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px
}

.possibilities-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}


.caption-list {
    display: flex;
    gap: 24px;
}

.caption-list-point {
    width: calc((100% - 3 * 24px) / 4);
}

.caption {
    font-size: 16px;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourteam {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.foto-list {
    display: flex;
    gap: 24px;
}

.foto {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.icons-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.icons-social-networks {
    width: 40px;
    height: 40px;
}

.social-networks {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks:hover,
.social-networks:focus {
    background-color: #404bbf;
}


.footer-social-networks {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-networks:focus {
    background-color: #31d0aa;
}

.footer-social-networks:hover {
    background-color: #31d0aa;
}




.social {
    fill: #f4f4fd;
}

.description {
    background-color: #2e2f42;
    padding: 100px 0;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.increase {
    color: #F4F4FD;
    max-width: 264px;
}

.logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-style {
    color: #f4f4fd;
}

.tasks {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.work {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-part {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-part:hover .picture-stylish {
    transform: translateY(0%);
}

.picture {
    position: relative;
    overflow: hidden;
}

.picture-stylish {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.possibilities-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.possibilities {
    margin-bottom: 8px;
}

.icon-facebook {
    fill: #f4f4fd;
}

.icon-instagram {
    fill: #f4f4fd;
}

.icon-linkedin {
    fill: #f4f4fd;
}

.icon-twitter {
    fill: #f4f4fd;
}

.subscribe-footer {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form-footer {
    display: flex;
    gap: 24px;
}

.subscribe-form-label {}

.input-form-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.input-form-footer .placeholder {
    color #ffffff;
}

.button-send {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.icon-button-send {
    margin-left: 16px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    padding: 72px 24px 24px 24px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5)
}

.button-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    fill: var(--cornflower);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.button-modal:hover,
.button-modal:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
    background-color: #404bbf;
}

.tekst-modal {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;
    color: #2E2F42;
}

.inputs {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 360px;
    min-height: 336px;
    margin-top: 112px;
}

.modal-form {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-label-input {
    position: relative;
}

.input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: #4D5AE5;
}

.input-modal:focus+.icon-input {
    fill: #4D5AE5;
}

.icon-input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-input:focus {
    fill: #4D5AE5;
}

.modal-form-comment {
    margin-bottom: 16px
}

.tekst-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tekst-comment:focus {
    border-color: #4D5AE5;
}


.modal-label-last {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.checkbox {
    margin-bottom: 24px;
}

.span-label {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.input-checkbox:checked+.modal-label-last>.span-label {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.privacy {
    color: #4d5ae5;
}

.button-send-last {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*   */